In [1]:
#!/usr/bin/env python3

In [8]:
# Importing the necessary modules 
import sqlite3

<h1> <b> Creating A Cursor Inside The Connected Database </b> </h1>

In [ ]:
# Creating a connection to the database file  
connection = sqlite3.connect("customer.db")

# Creating a cursor for the database 
c = connection.cursor(); 

# Creating a table by using the cursor 
c.execute()

<h1> <b> Creating A Table Inside The Connected Database </b> </h1> 

<p> A datatype is how data are represented in memory </p> 
<p> Sqlite3 only has 5 datatypes 
<ul> 
<li> NULL: </li> 
<p> A <b> NULL </b> datatype is a data type that is empty </p> <br> 
    
<li> INTERGER </li>
<p> An <b> INTEGER </b> is a whole number that does not have a floating point. Its just a whole number </p> <br> 
    
<li> REAL </li>
<p> A <b> REAL </b> number is a number that has a floating point value e.g a decimal </p> <br>      
    
<li> TEXT </li>
<p> A <b> TEXT </b> is a data type that holds stings </p> <br> 
    
<li> BLOB </li>
<p> This is a datatype that holds other solid data like mp3, images, files </p> 
    
</ul> 
</p>

In [9]:
# Creating a connection to the database  file 
connection = sqlite3.connect("customer.db") 

# Creating a cursor for the database 
c = connection.cursor()

# Creating a table by using the cursor 
c.execute(
    """
    CREATE TABLE customers (
    first_name text, 
    last_name text, 
    email text, 
    password text
    
    )""")

# Commiting our connection 
connection.commit() 

# Close the conncetion 
connection.close()

<h1> <b> Adding Or Inserting Data Into The Created Database  </b> </h1>

In [11]:
# Creating a connection to the database  file 
connection = sqlite3.connect("customer.db") 

# Creating a cursor for the database 
c = connection.cursor() 

USER_INFO = ['John', 'Elder', 'john@gmail.com', "$pbkdf2-sha256$30000$GCMkBCDE.J/TWkvpHcNYaw$IbExE48EaMbPqrJsKDpqVU9kch/S5S4z5TNIm99zr1U"]

# Inserting data into the created database table 
#c.execute("INSERT INTO customers VALUES ('John', 'Elder', 'john@gmail.com')")
c.execute("INSERT INTO customers VALUES (?, ?, ?, ?)", USER_INFO)


# Commiting the connection 
connection.commit() 

# Closing the connection 
connection.close()

<h1> <b> Inserting Multiple Data Into The Database </b> </h1>

In [12]:
# Importing the necessary modules 
import sqlite3 

# Creating a connection to the database  
connection = sqlite3.connect("customer.db")  

# Creating a cursor object 
c = connection.cursor() 

# Creating a list to hold  multiple different customers 
many_customers = [
    ("West", "Alija", "wesajka@gmail.com", "$pbkdf2-sha256$30000$4Vyrde4dQ8jZW2tNyRmjdA$L1scgeAV6N1Cpf5UBIuxkmBMDcSVL6D.wXdJRUY36Yw"), 
    ("Steph", "Kuewa", "steph@kuewa.com", "$pbkdf2-sha256$30000$EELIea/Vuvd.z3lvLQUgxA$Iazvx7Ns0.Et6jSCSXwIBKKo6usr7JE.Zw0ftkAVKuQ"), 
    ("Dan", "Pas", "dan@pas.com", "$pbkdf2-sha256$30000$rBXinHOu1frf21urFYJQig$7DyCSBINDi2zIg7iRj4GP1ufD4MKLDDO1RmiFgCsZIg")
]

# Inserting the multiple different customers into the database file 
c.executemany("INSERT INTO customers VALUES (?, ?, ?, ?)", many_customers)

# Commiting the connection 
connection.commit() 

# Closing the connection 
connection.close() 
print("Command executed successfully...")

Command executed successfully...

<h1> <b> Extracting Data from the database  </b> </h1>

In [55]:
# Importing the necessary modules 
import sqlite3 

# Creating a connection to the database  
connection = sqlite3.connect("customer.db")

# Creating a cursor object  
c = connection.cursor() 

# Query the database  
c.execute("SELECT rowid, * FROM customers")

# Fetching the data from the loaded database  
items = c.fetchall() 


# Displaying the extracted data 
print("NAME" + "\t\tEMAIL")
print("-------" + "\t\t--------")
for item in items: 
    print(item) 

# Commiting our command 
connection.commit() 

# Closing the connection 
connection.close()

NAME		EMAIL
-------		--------
(1, 'John', 'Elder', 'john@gmail.com', '$pbkdf2-sha256$30000$GCMkBCDE.J/TWkvpHcNYaw$IbExE48EaMbPqrJsKDpqVU9kch/S5S4z5TNIm99zr1U')
(2, 'Mbonu', 'Chinedum', 'cboy.chinedu@gmail.com', '$pbkdf2-sha256$30000$4Vyrde4dQ8jZW2tNyRmjdA$L1scgeAV6N1Cpf5UBIuxkmBMDcSVL6D.wXdJRUY36Yw')
(3, 'Steph', 'Kuewa', 'steph@kuewa.com', '$pbkdf2-sha256$30000$EELIea/Vuvd.z3lvLQUgxA$Iazvx7Ns0.Et6jSCSXwIBKKo6usr7JE.Zw0ftkAVKuQ')
(4, 'Dan', 'Pas', 'dan@pas.com', '$pbkdf2-sha256$30000$rBXinHOu1frf21urFYJQig$7DyCSBINDi2zIg7iRj4GP1ufD4MKLDDO1RmiFgCsZIg')

<h1> <b> Extracting Out Specific Items From The Database  </b> </h1> 

<p> This would extract the specific last name parsed into the execute command </p>

In [58]:
# Importing the necessary modules 
import sqlite3 

# Creating a connection to the database  
connection = sqlite3.connect("customer.db")

# Creating a cursor object  
c = connection.cursor() 

USER_EMAIL = ('john@gmail.com', )

# Query the database to extract from customers for last name equals kuewa 
# c.execute('SELECT * FROM stocks WHERE symbol=?', t)
# c.execute("SELECT rowid, email, password FROM customers WHERE email = 'john@gmail.com'")
c.execute("SELECT first_name, last_name, email, password FROM customers WHERE email=?", USER_EMAIL)

# Fetching the data from the loaded database  
items = c.fetchall()

# Commiting our command 
connection.commit() 

# Closing the connection 
connection.close() 


# Displaying the extracted data 
print("NAME" + "\t\tEMAIL")
print("-------" + "\t\t--------")
# if items:
#     print("Valid")
    
# else:
#     print("Not Valid.")
for data in items: 
    password_hash = data[3]
    break 
        
# print(items)  
print(password_hash)

NAME		EMAIL
-------		--------
$pbkdf2-sha256$30000$GCMkBCDE.J/TWkvpHcNYaw$IbExE48EaMbPqrJsKDpqVU9kch/S5S4z5TNIm99zr1U

<h1> Using Wildcards In SQL </h1>

### Using wildcards in SQL statements 
/*
* This would look for the emails that start of with "bro" and extract all the 
* Values for them from the database 
*/
c.execute("SELECT * FROM customers WHERE email LIKE 'bro%'")   


### Using wildcards in SQL statements 
/*
* This would extract all the emails that ended with "codemy.com" 
*/ 
c.execute("SELECT * FROM customers WHERE email LIKE '%codemy.com'")

<h1> <b> Updating A Record Inside the Database </b> </h1>

In [54]:
# Importing the necessary modules 
import sqlite3

# Connecting to the database  
connection = sqlite3.connect("customer.db") 

# Creating a cursor object 
c = connection.cursor() 

# Updating the customer records using the specific row id 
# Working with rowid == 2 
c.execute(
    """
    UPDATE customers SET first_name = 'Mbonu', 
    last_name = 'Chinedum', email = 'cboy.chinedu@gmail.com' 
    WHERE rowid = 2 

    """)

# Commiting the connection 
connection.commit() 

# Query the database  
c.execute("SELECT rowid, * FROM customers")

# Displaying to see if changes were made 
items = c.fetchall() 

# Closing the connection 
connection.close() 

for item in items:
    print(item)

(1, 'John', 'Elder', 'john@gmail.com', '$pbkdf2-sha256$30000$GCMkBCDE.J/TWkvpHcNYaw$IbExE48EaMbPqrJsKDpqVU9kch/S5S4z5TNIm99zr1U')
(2, 'Mbonu', 'Chinedum', 'cboy.chinedu@gmail.com', '$pbkdf2-sha256$30000$4Vyrde4dQ8jZW2tNyRmjdA$L1scgeAV6N1Cpf5UBIuxkmBMDcSVL6D.wXdJRUY36Yw')
(3, 'Steph', 'Kuewa', 'steph@kuewa.com', '$pbkdf2-sha256$30000$EELIea/Vuvd.z3lvLQUgxA$Iazvx7Ns0.Et6jSCSXwIBKKo6usr7JE.Zw0ftkAVKuQ')
(4, 'Dan', 'Pas', 'dan@pas.com', '$pbkdf2-sha256$30000$rBXinHOu1frf21urFYJQig$7DyCSBINDi2zIg7iRj4GP1ufD4MKLDDO1RmiFgCsZIg')

<h1> <b> Deleting Records From The Database </b> </h1> 

<p> This would delete a record from the database on row 6 and display the update on the screen </p> 
<p> We should also take into consideration that a row is also known as a record </p>

In [30]:
# Importing the necessary modules 
import sqlite3 

# Connecting to the database  
connection = sqlite3.connect("customer.db") 

# Creating a cursor object 
c = connection.cursor() 

# Deleting records 
# Deleting customers with row id = 5 
c.execute("DELETE from customers WHERE rowid = 5")

# Commiting the connection 
connection.commit() 

# Query the database  
c.execute("SELECT rowid, * FROM customers")

# Fetching all the extracted records from the database  
items = c.fetchall() 

# Displaying the records in a well formated form 
for item in items: 
    print(item) 
    
# Closing the connection 
connection.close()

(1, 'John', 'Elder', 'john@gmail.com')
(2, 'Mbonu', 'Chinedum', 'cboy.chinedu@gmail.com')
(3, 'Kelvin', 'Brown', 'kelvin@gmail.com')
(4, 'West', 'Alija', 'wesajka@gmail.com')
(6, 'Dan', 'Pas', 'dan@pas.com')

<h1> <b> Deleting A Table From A Database </b> </h1>

In [ ]:
# Importing the necessary modules 
import sqlite3

# Connecting to the database  
connection = sqlite3.connect("customer.db") 

# Creating a cursor object 
c = connection.cursor() 

# Dropping or Deleting a Table 
c.execute("DROP TABLE customers") 
connection.commit() 

# Closing the connection 
connection.close()